  body {
    background-color: #F6FAFB;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .topLeft {
    top: 20px;
    left: 20px;
    font-family: "Helvetica", "Arial", sans-serif;
    color: black;
    font-weight: 900;
    font-size: 15px;
    text-shadow: 2px 2px #E9ECFF;
  }

  .topRight {
    font-weight: 900;
    font-size: 15px;
    top: 20px;
    right: 20px;
  }

  .topRight a {
    font-family: "Helvetica", "Arial", sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 900;
    text-shadow: 2px 2px #E9ECFF;
  }

  section {
    /* border: 1px solid blue; */
    width: 75%;
    margin: auto;
    padding-bottom: 10%;
  }

  div {
    /* border: 1px solid red; */
  }

  #intro {
    margin: auto;
    margin-top: 150px;
    /* margin-bottom: 10px; */
  }

  h1 {
    font-family: 'Courier New', monospace;
    font-size: 40px;
    text-shadow: 2px 2px #E9ECFF;
    line-height: 20px;
    font-style: normal;
    color: #072D34;

  }

  #intro p {    
    font-family: 'Courier New', monospace;
    font-size: 23px;
    text-shadow: 2px 2px #E9ECFF;
    line-height: 30px;
    font-style: normal;
    color: #072D34;
  }

  h3 {
    font-family: 'Courier New', monospace;
    font-size: 18px;
    line-height: 25px;
    color: #072D34;

    width: 30%;
    display: table-cell;

  }

  #LLM {
    padding-top: 5%;
  }
  p {
    font-family: 'Courier New', monospace;
    /* font-size: 15px; */
    line-height: 25px;
    color: #072D34;

    width: 43%;
    display: table-cell;
  }

  section a{
    color: #072D34;
  }

  section a:visited {
    color: #072D34;
  }

  hr.rounded {
    width: 75%;
    margin: auto;
    border-top: 1px solid #bbb;
    border-radius: 1px;
  }

  h2 {
    font-family: 'Courier New', monospace;
    font-weight: 900;
    font-size: 22px;
    line-height: 25px;
    color: #072D34;

    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    }

  footer {
    margin: auto;
    padding-top: 5%;

  }
  footer p{
    margin: auto;
    font-size: 20px;
    clear: both;
    text-align: center;
    font-family: "Helvetica", "Arial", sans-serif;
    color: #072D34;
  }


  /*
  .sam {
    background-color: #FAFFF6;
    padding: 20px;
  }
  */
